# mac
.DS_Store

# env files
.env

# airflow
airflow/logs/
airflow/__pycache__/
airflow/.DS_Store

# python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.venv*/
.envrc

# ide
.vscode/
.idea/

# local databases (later)
*.duckdb
*.db
.mc/
duckdb/
duckdb/
